---
import '../styles/styles.css';
import MainLayout from '../layouts/MainLayout.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout page="Início" description="Soluções em TI, CFTV e tecnologia. Parceiro TI" banner="/main_banner.png">
    <body>
        <div class="top-banner img-center" id="top">
            <img style="width:98%;height:100%;" src="/main_banner.jpg">
            <span class="banner-text">
                <h1 style="font-size:4.2rem;line-height: 3.5rem;">Parceiro <span class="highlight">T.I.</span></h1>
                <p style="font-size: 1.5rem; margin-top: -2rem;">Soluções em CFTV e Tecnologia.</p>
            </span>
        </div>
        <div class="container" style="margin-left:6vw;">
            <h1 class="highlight" id="sobre">Quem Somos?</h1>
            <p class="highlight-darker bold">
                Queremos ser os parceiros em que você possa confiar
                e contar com, para manter seu ambiente de TI seguro e estável.
            </p>
            <p>
                Desde 2010 no mercado oferecendo soluções otimizadas e com melhor custo benefício para nossos clientes.
                Nosso objetivo é oferecer o melhor atendimento e recursos técnicos, e dessa forma contribuir para o 
                crescimento dos clientes e parceiros através da tecnologia da informação.
            </p>
            <h1 id="serviços">Nossos Serviços</h1>
            <ul>
                <li>Manutenção de computadores</li>
                <li>Manutenção de Servidores</li>
                <li>Montagem de computadores e servidores</li>
                <li>Contratos de manutenção recorrente</li>
                <li>Serviços presenciais e remotos</li>
            </ul>
            <h2 id="serviços-dados">Dados</h2>
            <ul>
                <li>Recuperação de dados</li>
                <li>Backup de dados, localmente e em nuvem</li>
            </ul>
            <h2>Monitoramento</h2>
            <ul>
                <li>CFTV, Instalação de câmeras para monitoramento</li>
            </ul>
            <h1 id="clientes">Clientes</h1>
            <ul class="row img-center">
                <li>
                    <img style="width:150px;height:102px;" src="https://static.wixstatic.com/media/1a45bd_3fde0e7f1c2449e09f766b65210c2f3b~mv2.png/v1/fill/w_300,h_204,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1a45bd_3fde0e7f1c2449e09f766b65210c2f3b~mv2.png">
                </li>
                <li>
                    <img style="margin-top:1px;width:170px;height:100px;" src="https://scontent.fsdu11-1.fna.fbcdn.net/v/t39.30808-6/300399999_762713488384799_3831089773489797567_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=2g65aPgMBQYAb5zP7Yz&_nc_ht=scontent.fsdu11-1.fna&cb_e2o_trans=q&oh=00_AfDDAiHqUzVm6kvBh7pEVrFkJkDowHcukF4QEbEvJC555A&oe=6633477A">
                </li>
                <li>
                    <h2 style="font-family: DM Sans">A&RX</h2>
                    <p style="font-size:small;line-height:0.2em;">Telecomunicações</p>
                </li>
                <li>
                    <h2 style="font-family: Playfair Display">Romaplast</h2>
                    <p style="font-size:small;line-height:0.2em;">Comércio e Indústria de Plásticos LTDA.</p>
                </li>
                <li>
                    <h2>Vinaplast</h2>
                    <p style="font-size:small;line-height:0.5em;">Reciclagem e Recuperação de Plásticos</p>
                </li>
                <li>
                    <h2>Condomínio Angélica</h2>
                    <p style="font-size:small;line-height:0.01em;">Rio de Janeiro</p>
                </li>
            </ul>
        </div>
    </body>
    <Footer />
</MainLayout>

<style>
    .banner-text {
        box-sizing: content-box;
        line-height: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: content-box;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.290);
        padding: 10px;
    }
</style>