---

interface Props {
    images: Array<string>;
    title: string;
    subtitle: string;
}

const { images, title, subtitle } = Astro.props;
---

<script>console.log("O Slideshow é um componente ainda sendo desenvolvido.")</script>

<div class="carousel-container">
    
</div>

<style>

</style>