---
import "../styles/styles.css";
---

<footer class="footer">
    <div class="container">
        <div class="left">
            <ul class="no-list-style">
                <li>
                    <a href="/#top" target="_self">Início</a>
                </li>
                <li>
                    <a href="/#sobre" target="_self">Sobre nós</a>
                </li>
                <li>
                    <a href="/#serviços" target="_self">Serviços</a>
                </li>
                <li>
                    <a href="/#clientes" target="_self">Clientes</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul class="no-list-style">
                <li>
                    <b>CNPJ: xxxx-xxxx</b>
                </li>
                <li>
                    <b>Telefone: (21) 9 8878-6341</b>
                </li>
                <li>
                    <a href="https://wa.me/+5521988786341">Whatsapp</a>
                </li>
                <li>
                    <b>E-mail: <a href="mailto:contato@parceiroti.com.br">contato@parceiroti.com.br</a></b>
                </li>
            </ul>
        </div>
    </div>
</footer>

<style>
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 16px;
        margin-right: 16px;
        color: white;
        box-sizing: border-box;
        border-radius: 16px;
        background-color: var(--pti-dark);
    }

    .container a {
        color: white;
    }

    .container a:hover {
        color: var(--text-highlight-color);
    }
</style>