---
import "../styles/_colors.css";
import "../styles/_fonts.css";
---
<header class="sidenav">
    <a href="/"><img class="logo" src="/logo_caption_white.png" alt="PTI"></a>
    <nav class="main-options">
        <ul class="links">
            <li>
                <a href="/#">Início</a><br>
                <span class="description">Voltar para o Início da página</span>
            </li>
            <li>
                <a href="/#sobre">Sobre nós</a><br>
                <span class="description">Saiba mais sobre a nossa história</span>
            </li>
            <li>
                <a href="/#serviços">Serviços</a><br>
                <span class="description">Confira o que podemos lhe oferecer:</span>
                <ul class="submenus">
                    <li>
                        <a href="/#serviços-informática">Informática</a>
                    </li>
                    <li>
                        <a href="/#serviços-redes">Redes</a>
                    </li>
                    <li>
                        <a href="/#serviços-dados">Dados</a>
                    </li>
                    <li>
                        <a href="/#serviços-segurança">Segurança</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/contato">Contato</a><br>
                <span class="description">Entre em contato conosco!</span>
            </li>
        </ul>
    </nav>
</header>

<style>

    :root {
        --padding: 12px;
    }

    header {
        display: block;
        position: sticky;
        top: calc(var(--padding) - 4px);
        width: 260px;
        float: left;
        background-color: white;
        border-radius: 10px;
        padding: var(--padding);
        border: solid 1px whitesmoke;
        height: calc(100dvh - 30px - var(--padding));
        overflow-y: auto;
    }

    nav {
        padding-top: 20%;
    }

    .logo {
        display: block;
        width: 70%;
        margin: auto;
    }

    .bottom {
        padding-top: 32%;
    }

    .links {
        list-style: none;
        background-color: whitesmoke;
        border-radius: 8px;
        padding: 18px;
        padding-block-end: 6px;
    }

    .links > li {
        margin-bottom: 1.2rem;
        /* border-bottom: solid 1px rgba(128, 128, 128, .1); */
    }

    .submenus {
        list-style: circle;
        padding-left: 12%;
        padding-top: 2%;
    }

    .submenus > li {
        font-size: 14px;
        padding-bottom: 6px;
    }

    .description {
        font-size: 11px;
        color: gray;
    }

    a {
        color: rgb(58, 45, 60);
        text-decoration: none;
        transition: 150ms ease-in;
    }

    a:hover {
        color: var(--link-color);
    }

</style>
