---
import '../styles/styles.css'
---


<header class="topnav">
    <a class="top-logo-link" href="/">
        <img class="top-logo" src="/logo_caption.png" alt="PTI">
    </a>
    <nav class="navbar">
        <a class="logo-link" href="/">
            <img class="logo" src="/logo_default.png" alt="PTI">
        </a>
        
        <ul class="links">
            <li>
                <a href="/#top" target="_self">Início</a>
            </li>
            <li>
                <a href="/#sobre" target="_self">Sobre nós</a>
            </li>
            <li>
                <a href="/#serviços" target="_self">Serviços</a>
            </li>
            <li>
                <a href="/#clientes" target="_self">Clientes</a>
            </li>
        </ul>
    </nav>
</header>

<style>


    .navbar {
        --logo-width: 64px;
        --logo-height: 48px;
        --logo-margin-left: 16px;
        font-size: large;
        display: flex;
	height: 70px;
	position: sticky;
	top: 0;
    }

    .logo {
        display: block;
        justify-content: left;
        align-items: right;
        margin-left: var(--logo-margin-left);
        margin-top: 8px;
        width: var(--logo-width);
        height: var(--logo-height);
    }

    .links {
        position: top;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
        margin-right: calc( ( var(--logo-width) + var(--logo-margin-left) ) );
    }

    .links > li {
        float: left;
        display: list-item;
        margin-left: 16px;
        margin-top: 0;
    }

    .links > li > a {
        text-decoration: none;
    }

    @media screen and (min-width: 600px) {
        .top-logo-link {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        .navbar {
            height: 100px;
            line-height: 1.8em;
        }

        .logo-link {
            display: none;
        }

        .top-logo {
            display: flex;
            margin: auto;
            margin-top: 6%;
            width: 25%;
            height: 25%;
            object-fit: cover;
        }

        .links {
            margin-bottom: 12%;
            align-content: center;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-right: 16px;
            flex-wrap: wrap;
        }
    }
</style>
