---
import SideNavigation from '../components/SideNavigation.astro';
import TopNavigation from '../components/TopNavigation.astro';
import '../styles/styles.css';

interface Props {
    page: string;
    description: string;
    banner: string;
}

const { page, description, banner }: any = Astro.props;

let currentPage: string = "";

if(page !== undefined && page !== "undefined" && page !== "") {
    currentPage = " - " + page;
}
---

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icon_default.png">
    <!-- Add OG link preview -->
    <meta property="og:title" content={ "Parceiro TI" + currentPage }>
    <meta property="og:description" content={ description }>
    <meta property="og:image" content={ banner }>
    <title>{ "Parceiro TI" + currentPage }</title>
</head>

<body>
    <div class="topnav-container">
        <!-- class: "topnav" -->
        <TopNavigation />
    </div>
    <div class="sidenav-container">
        <!-- class: "sidenav" -->
        <SideNavigation />
    </div>
    <main>
        <div class="container">
            <slot />
        </div>
    </main>
    
</body>

<style>
    html {
        background-color: var(--background-color);
    }

    body {
        display: flex;
        height: auto;
    }

    main {
        display: block;
        padding-left: 6px;
        padding-top: 1px;
    }

    @media screen and (max-width: 1180px) {
        body {
            display: block;
        }
        .sidenav-container {
            display: none;
        }
        main {
            padding: 0;
        }
    }
    
    @media screen and (min-width: 1180px) {
        .topnav-container {
            display: none;
        }
    }
    
</style>
</html>